.main_visual{width:600px; }
.main_image {width:600px; height:400px; border-top:1px solid #d7d7d7; overflow:hidden; margin:0 auto; position:relative}
.main_image ul {width:9999px; height:500px; overflow:hidden; position:absolute; top:0; left:0}
.main_image li {float:left; width:600px; height:400px;}
.main_image li span {display:block; width:600px; height:400px}
.main_image li a {display:block; width:600px; height:400px}
.main_image li .img_1 {background: url(../../../libs/images/demo/gallery/2.jpg) center top no-repeat}
.main_image li .img_2 {background: url(../../../libs/images/demo/gallery/4.jpg) center top no-repeat}
.main_image li .img_3 {background: url(../../../libs/images/demo/gallery/5.jpg) center top no-repeat}
.main_image li .img_4 {background: url(../../../libs/images/demo/gallery/6.jpg) center top no-repeat}
div.flicking_con {width:600px; margin:0 auto; position:relative}
div.flicking_con .flicking_inner {position:absolute; top:368px; left:90px; z-index:999; width:300px; height:21px} /* 121126 */
div.flicking_con a {float:left; width:21px; height:21px; margin:0; padding:0; background:url(btn_main_img.png) 0 0 no-repeat; display:block; text-indent:-1000px}
div.flicking_con a.on {background-position:0 -21px}
#btn_prev,#btn_next{z-index:11111;position:absolute;display:block;width:73px!important;height:74px!important;top:50%;margin-top:-37px;display:none;}
#btn_prev{background:url(hover_left.png) no-repeat left top;left:100px;}
#btn_next{background:url(hover_right.png) no-repeat right top;right:100px;}