

.Content_win{
	width: 100%;
	margin: auto;
	/*border: 1px solid red;*/
	padding-bottom: 25px;
	/*padding: 20px 0;*/
}
.Content_win *{
	box-sizing: border-box;
}
.content_1{
	background: #fff;
	border-radius: 5px;
	margin-top: 20px;
	box-shadow: 0 1px 6px rgba(0,0,0,.1);
    border: 1px solid #E6EBEF;
}
.content_1 .title{
	line-height: 40px;
	padding: 0px 15px;
	background: #F5FAFE;
	border-bottom: 1px solid #E1E6EC;
}
.content_1 .title span{
	color: #444345;
	font-weight: bold;
	float: left;
}
.content_1 .user_data{
	padding: 15px;
	width: 1045px;
	margin: auto;
}
.content_1 .user_data li{
	width: 235px;
	height: 100px;
	border-radius: 5px;
	float: left;
	margin-right: 25px;
	color: #fff;
	background: #6CAFE3;
	*margin-bottom: 15px;
}

.content_1 .user_data li p{
	display: block;
	width: 80%;
	margin: auto;
	line-height: 35px;
	text-align: center;
	font-size: 12px;
	border-bottom: 1px solid #7AB6E8;
	margin-top: 10px;
	background: url(user_data.png) no-repeat;
}
.content_1 .user_data li span{
	display: block;
	font-size: 24px;
	/*line-height: 50px;*/
	text-align: center;
	margin-top: 15px;
}
.content_1 .title .data_win{
	float: right;
}
.content_1 .title .data_win input,
.content_1 .title .data_win span,
.content_1 .title .data_win button{
	float: left;
}
.content_1 .title .data_win input{
	height: 25px;
	font-size: 12px;
}
.content_1 .title .data_win input,
.content_1 .title .data_win button{
	margin-top: 10px;
}
.content_1 .title .data_win span{
	font-weight: 400;
	color: #7C8083;
	font-size: 12px;
	margin: 0 10px;
}
.content_1 .title .data_win button{
	margin-left: 15px;
	height: 25px;
	line-height: 25px;
}
.button:hover{
	/*border-color: #E35338;*/
}
.content_1 .all_data{
	padding: 15px;
}

.buttonGroup span{
	/*width: auto;*/
	/*padding: 0 15px!important;*/
}
.buttonGroup span.active{
	background: #E35338;
	color: #fff;
}
.content_1 .index{
	margin: 15px 0;
}







.content_1 .data_win1{
	padding: 15px;
	float: left;
}
.content_1 .data_win1 input,
.content_1 .data_win1 span,
.content_1 .data_win1 button{
	float: left;
}
.content_1 .data_win1 input{
	height: 25px;
	font-size: 12px;
}
.content_1 .data_win1 input,
.content_1 .data_win1 button{
	margin-top: 10px;
}
.content_1 .data_win1 span{
	font-weight: 400;
	color: #7C8083;
	font-size: 12px;
	margin: 0 10px;
	margin-top: 7px;
}
.content_1 .title .data_win1 span{
	margin-top: 0;
}
.content_1 .data_win1 button{
	margin-left: 15px;
	height: 25px;
	line-height: 25px;
}

.tab_time{
	/*width: 100%;*/
	height: 50px;
	background: #fff;
	padding: 15px 20px;
	box-sizing: border-box;
	float: left;
}
.tab_time ul{
	width:320px;
	float: left;
	/*padding: 10px 20px;*/
}
.tab_time ul li{
	float: left;
	padding: 0 15px;
	border-bottom: 2px solid transparent;
	cursor: pointer;
}
.tab_time ul li:hover{
	color: #3399ff;
	border-bottom: 2px solid #3399ff;
}
.tab_time ul li.active{
	color: #3399ff;
	border-bottom: 2px solid #3399ff;
}
.tab_time ul li.no_hover:hover{
	border-bottom: 2px solid transparent;
}


.content_1 .index{
	margin: 15px;
}
.content_1 .table_win{
	padding: 15px 15px 30px 15px;
}
.content_1 table{
	width: 100%;
}
.content_1 table tr th{
	text-align: center;
	color: #5F6062;
	font-size: 12px;
	background: #F2F5FA;
	line-height: 40px;
}
.content_1 table tr td{
	text-align: center;
	color: #5F6062;
	font-size: 12px;
	line-height: 40px;
	border-bottom: 1px solid #E7E8EC;
}