<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title></title>
<!--框架必需start-->
<script type="text/javascript" src="../../libs/js/jquery.js"></script>
<script type="text/javascript" src="../../libs/js/language/cn.js"></script>
<script type="text/javascript" src="../../libs/js/framework.js"></script>
<link href="../../libs/css/import_basic.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" type="text/css" id="skin" prePath="../../" scrollerY="false"/>
<link rel="stylesheet" type="text/css" id="customSkin"/>
<!--框架必需end-->

<!--折叠js-->
<script src="../../libs/js/nav/nav_fold.js" type="text/javascript" charset="utf-8"></script>
<!--折叠js End-->
</head>
<body>
 <table width="100%">
	<tr>
		<td width="150" class="ver01">
			<div class="contentMenu" style="width: 150px;">
				<div class="subtitle" sub_of="0">
					<div class="subtitle_con"><i></i>一级栏目栏目1</div>
				</div>
				<ul>
				<li><a href="../../sample_html/content/content1.html" target="frmrightChild"><span class="text_slice">二级栏目1</span></a></li>
				<li><a href="../../sample_html/content/content2.html" target="frmrightChild"><span class="text_slice">二级栏目2</span></a></li>
				<li><a href="../../sample_html/content/content3.html" target="frmrightChild"><span class="text_slice">二级栏目3</span></a></li>
				</ul>
				<div class="subtitle" sub_of="0"><div class="subtitle_con"><i></i>一级栏目栏目2</div></div>
				<ul>
				<li><a href="../../sample_html/content/content4.html" target="frmrightChild"><span class="text_slice">二级栏目4</span></a></li>
				<li><a href="../../sample_html/content/content1.html" target="frmrightChild"><span class="text_slice">二级栏目5</span></a></li>
				<li><a href="../../sample_html/content/content2.html" target="frmrightChild"><span class="text_slice">二级栏目6</span></a></li>
				</ul>
				<div class="subtitle" sub_of="0"><div class="subtitle_con"><i></i>一级栏目栏目3</div></div>
				<ul>
				<li><a href="../../sample_html/content/content3.html" target="frmrightChild"><span class="text_slice">二级栏目7</span></a></li>
				<li><a href="../../sample_html/content/content4.html" target="frmrightChild"><span class="text_slice">二级栏目8</span></a></li>
				<li><a href="../../sample_html/content/content1.html" target="frmrightChild"><span class="text_slice">二级栏目9</span></a></li>
				</ul>
			</div>
		</td>
		<td class="ver01">
		<div class="contentMenu_title">
			<span>导航</span>
		</div>


			<div class="content" style="overflow-y:hidden;overflow-x:hidden;">
				
			<IFRAME height="100%" width="100%" frameBorder=0 id=frmrightChild name=frmrightChild 
				src="../../sample_html/content/content1.html" allowTransparency="true"></IFRAME>
			</div>

		</td>
	</tr>
</table>	 
 	 
<script type="text/javascript">
	function customHeightSet(contentHeight){
		$(".contentMenu").height(contentHeight-22)
		$(".content").height(contentHeight-55)
	}
</script>
</body>
</html>