<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title></title>
<!--框架必需start-->
<script type="text/javascript" src="../../libs/js/jquery.js"></script>
<script type="text/javascript" src="../../libs/js/language/cn.js"></script>
<script type="text/javascript" src="../../libs/js/framework.js"></script>
<link href="../../libs/css/import_basic.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" type="text/css" id="skin" prePath="../../" scrollerY="false"/>
<link rel="stylesheet" type="text/css" id="customSkin"/>
<!--框架必需end-->


<!--折叠js-->
<script src="../../libs/js/nav/nav_fold.js" type="text/javascript" charset="utf-8"></script>
<!--折叠js End-->
</head>
<body>
 <table width="100%">
	<tr>
		<td width="150" class="ver01">
			<div class="contentMenu" style="width: 150px;">
				<div class="menu_win">
					<div class="menu_list active">
						<a href="../../sample_html/content/content1.html" target="frmrightChild">
							基本信息
						</a>
					</div>
					<div class="menu_list">
						<a href="../../sample_html/content/content2.html" target="frmrightChild">
							工作经历
						</a>
					</div>
					<div class="menu_list">
						<a href="../../sample_html/content/content3.html" target="frmrightChild">
							教育经历
						</a>
					</div>
					<span class="menu_span"></span>
					<div class="menu_list">
						<a href="../../sample_html/content/content4.html" target="frmrightChild">
							修改密码
						</a>
					</div>
					<div class="menu_list">
						<a href="../../sample_html/content/content1.html" target="frmrightChild">
							安全验证
						</a>
					</div>
					<span class="menu_span"></span>
					<div class="menu_list">
						<a href="../../sample_html/content/content2.html" target="frmrightChild">
							消息提醒
						</a>
					</div>
					<span class="menu_span"></span>
					<div class="menu_list">
						<a href="../../sample_html/content/content3.html" target="frmrightChild">
							语言设置
						</a>
					</div>
					<span class="menu_span"></span>
					<div class="menu_list">
						<a href="../../sample_html/content/content4.html" target="frmrightChild">
							修改头像
						</a>
					</div>
				</div>
			</div>
		</td>
		<td class="ver01">
		<div class="contentMenu_title">
			<span>导航</span>
		</div>


			<div class="content" style="overflow-y:hidden;overflow-x:hidden;">
				
			<IFRAME height="100%" width="100%" frameBorder=0 id=frmrightChild name=frmrightChild 
				src="../../sample_html/content/content1.html" allowTransparency="true"></IFRAME>
			</div>

		</td>
	</tr>
</table>	 
 	 
<script type="text/javascript">
	function customHeightSet(contentHeight){
		$(".contentMenu").height(contentHeight-22)
		$(".content").height(contentHeight-55)
	}
</script>
</body>
</html>